  :host {
    position:relative;
    height:inherit;
    overflow:hidden;
    display:block;
    height: 100%;
    width: 100%;
    top: 20%;
  }
  
  div.page {
    text-align: center;
    font-size: 24px;  
  }
  div.page p  {
    text-align: left;
  }
  